{% extends "base.html" %}

{% block title %}
    Home | AI Shop
{% endblock %}

{% block content %}

<section>
    <h3>Shop by Category</h3>
    {% for category in categories %}
        <a href="{% url 'category_products' category.id %}">{{category.name}}</a>
    {% endfor %}
</section>

<section>
    <h3>Popular Products</h3>
    {% for product in products %}
        <div>
            <h3>{{product.name}}</h3>
            <p>${{product.price}}</p>
            <a href="{% url 'add_to_cart' product.id %}">Add to Cart</a>
            <a href="{% url 'place_order' product.id %}">Place Order</a>
        </div>
        <hr>
    {% endfor %}
</section>


 
{% endblock %}
   
